.navbar {
	display: flex;
	align-items: center;
	background-color: #20232a;
	padding: 20px;
	border-bottom: 2px solid #ccc;
	font-size: 1.1rem;
}

.navLink {
	margin-right: 15px;
	text-decoration: none;
	color: #61dafb;
}

.navLink:hover {
	color: #ffffff;
	font-weight: bold;
}

.navRight {
	margin-left: auto; /* Push this group to the far right */
	display: flex;
	gap: 15px; /* Add spacing between "Edit" and "My Profile" */
}